{% extends "base.html" %}

{% block content %}
        <!-- Main content -->
        <main id="main-content" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Welcome to Process Mining Utility</h1>
            </div>
            <div class="jumbotron">
                <h1 class="display-4">Welcome to the Process Mining Utility!</h1>
                <p class="lead">Use the navigation panel on the left to configure and manage your process mining settings.</p>
                <hr class="my-4">
                <p>This utility helps you configure defaults, process settings, upload configurations, view available configurations, and initialize configurations.</p>
            </div>
        </main>

{% endblock %}